# Ignore environment file
.env
**/gamba_integration_guide.txt
.DS_Store
**/.DS_Store
.venv
# Ignore build and dependency directories
.github
.vercel
.vite
dist
docs
new
node_modules

# Ignore all scripts except compress-build.mjs
scripts/*
!scripts/compress-build.mjs